env
*.pyc
__pycache__

.idea
.vscode
.DS_Store

qwen_agent/llm/gpt.py
qwen_agent/llm/tools.py
workspace/*

benchmark/log/*
benchmark/output_data/*
benchmark/upload_file/*
benchmark/upload_file_clean/*
benchmark/eval_data/
Qwen-Agent

docqa/*
log/*
ai_builder/*
qwen_agent.egg-info/*
build/*
