anyio>=3.7.1
dashscope>=1.11.0
fastapi>=0.103.1
gradio==3.41.1
gradio-client>=0.5.0
html2text
jieba
json5
jsonlines
jupyter>=1.0.0
langchain
matplotlib
numpy
openai
pandas
pdf2image
pdfminer-six
pillow
pydantic>=2.3.0
pypdf
seaborn
sympy
tiktoken
unstructured
uvicorn>=0.23.2
wordcloud
