anyio>=3.7.1
beautifulsoup4
dashscope>=1.11.0
docx2txt
fastapi>=0.103.1
html2text
jieba
json5
jsonlines
jupyter>=1.0.0
matplotlib
numpy
openai
pandas
pdfminer-six
pillow
pydantic>=2.3.0
python-pptx
seaborn
sympy
tiktoken
uvicorn>=0.23.2
