beautifulsoup4
charset-normalizer
dashscope>=1.11.0
eval_type_backport
html2text
jieba
json5
jsonlines
openai
pdfminer.six
pdfplumber
pydantic>=2.3.0
python-docx
python-pptx
rank_bm25
requests
snowballstemmer
tiktoken
